/* z index */

.game button{
  z-index: 3
}

.guides button{
  z-index: 2
}

/* end z index */

.game {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}

.game,
.map,
.sprite, 
.guides, .guides button
{
  position: absolute;
}

.sprite {
  position: absolute;
}

[game="player"] {
  background: cyan;
  border-radius: 100%;
}

.guides{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.guides button{
  background: #ffffff15;
  border: 1px solid #00000015 !important;
  border-radius: 4px;
}

.guides .top{
  left: 5%;
  top: 0;
  width: 90%;
  height: 30px;
}

.guides .bottom{
  left: 5%;
  bottom: 0;
  width: 90%;
  height: 30px;
}

.guides .left{
  left: 0;
  top: 5%;
  width: 20px;
  bottom: 5%;
}

.guides .right{
  right: 0;
  top: 5%;
  width: 20px;
  bottom: 5%;
}

.sprite.selected{
  border: 4px solid green;
}
@media screen and (min-width: 800px){
  .sprite.selected{
    border: 8px solid green;
  }
}