:root{
  --lobby-btn-bg1: #012d2d;
  --lobby-btn-bg2: #013737;
  --lobby-btn-bs1: #230122;
  --lobby-btn-bs2: #41013e;
}

.lobby{
  margin: 10vh 10vw;
  color: white;
}

.lobby h1{
  font-size: 2rem;
  margin: 0;
  margin-bottom: 8px;
}

.lobby .rooms{
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 8px;
  margin: 8px 0;
}

.lobby-menubtn{
  margin: 8px 0;
  background: linear-gradient(145deg, var(--lobby-btn-bg1), var(--lobby-btn-bg2));
  padding: 8px;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, .3);
  font-weight: bold;
  box-shadow: 5px 5px 5px var(--lobby-btn-bs1), -5px -5px 5px var(--lobby-btn-bs2);
  border-radius: 8px;
}