:root{
  --lobby-btn-bg1: #012d2d;
  --lobby-btn-bg2: #013737;
  --lobby-btn-bs1: #230122;
  --lobby-btn-bs2: #41013e;
}

.lobby h1{
  font-size: 2rem;
  margin: 0;
  margin-bottom: 8px;
}

.lobby-menubtn{
  width: 100%;
  margin: 8px 0;
  background: linear-gradient(145deg, var(--lobby-btn-bg1), var(--lobby-btn-bg2));
  padding: 8px;
  font-size: 1.1rem;
  color: white;
  font-weight: bold;
  box-shadow: 5px 5px 5px var(--lobby-btn-bs1), -5px -5px 5px var(--lobby-btn-bs2);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.lobby .rooms{
  min-height: 10vh;
  max-height: 60vh;
}

.lobby-menubtn:hover, .lobby .room-card button:hover, nav a:hover, .link:hover{
  outline: 1px solid cyan;
  color: cyan;
}

.lobby .room-card{
  padding: 8px;
  margin: 8px 0;
  background: linear-gradient(145deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, .05));
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-shadow: 5px 5px 5px var(--lobby-btn-bs1), -5px -5px 5px var(--lobby-btn-bs2);
}

@media screen and (max-width: 800px){
  .lobby, .cookbook{
    margin: 1vh 1vw;
    color: rgba(255,255,255,0.7);
  }
  .lobby .room-card{
    justify-content: start;
    flex-direction: column;
  }
  .lobby .room-card button{
    margin-top: 8px;
  }
}

.lobby .room-card button{
  background: linear-gradient(145deg, var(--lobby-btn-bg1), var(--lobby-btn-bg2));
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: .3s;
  padding: 4px 80px;
}

#micro{
  font-family: monospace;
  color: cyan;
}